<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<style>
    body {
        font-family: "cascadia mono";
    }

    .text {
        color: black;
        font-size: large;
    }

    /* Remove the caret icon */
    .dropdown-toggle::after {
        content: none;
    }

    .alink {
        text-decoration: none;
        color: rgb(99, 96, 96);
    }

</style>

<body>
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link text" href="/">For you</a>
        </li>
    </ul>

    <div class="container-fluid" style="padding-top:5vh;">
        <div class="row">
            <div class="col-3 text-center">
                <a class="h5" href="/" style="text-decoration: none;">< Back</a>
            </div>

            <div class="col-6">
                <div class="text-end">
                    <div class="dropdown">
                        <a class="dropdown-toggle alink" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          ◦◦◦
                        </a>
                        <ul class="dropdown-menu">
                    {{range .Rows}}
                          <li><a class="dropdown-item" href="/tweets/update?id={{.Id}}">Edit tweets</a></li>
                          <li><a class="dropdown-item" href="/tweets/delete?id={{.Id}}">Delete tweets</a></li>
                        </ul>
                    </div>
                </div>

                <div class="p-2">
                        <div class="pt-2 pb-2">
                            <span style="display: none;">{{.Id}}</span>
                            <span>Rizq R · {{.Date}}</span>
                        </div>

                        <p class="h4">{{.Title}}</p>
    
                        <p>{{.Main}}</p>
                    {{end}}
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>